{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div>
        <h1>Do you want to leave us a message?</h1>
        {{ form_start(contactForm) }}
        {{ form_widget(contactForm) }}
        {{ form_end(contactForm) }}
    </div>
{% endblock %}
