{% extends 'base.html.twig' %}

{% block title %}Modify your password{% endblock %}

{% set user = app.user %}

{% form_theme passwordForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div>
        <h3 class="my-3">Modify your password</h3>
        {{ form_start(passwordForm) }}
        {{ form_widget(passwordForm) }}
        {{ form_end(passwordForm) }}
    </div>
    <input id="g-recaptcha" data-action="password-modify" name="g-recaptcha-response" hidden value=""></input>
{% endblock %}
