{% extends 'base.html.twig' %}

{% block title %}Enter your new password{% endblock %}
{% form_theme resetPasswordForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div>
    <h1>Enter your new password</h1>
    {{ form_start(resetPasswordForm) }}
    {{ form_widget(resetPasswordForm) }}
    {{ form_end(resetPasswordForm) }}
</div>
{% endblock %}
