{% extends 'base.html.twig' %}

{% block title %}Forgot your password?{% endblock %}
{% form_theme emailForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div>
    <h3 class="my-3">Enter your email address</h3>
    <p>You will receive an email to reset your password.</p>
    {{ form_start(emailForm) }}
    {{ form_widget(emailForm) }}
    {{ form_end(emailForm) }}
</div>
<input id="g-recaptcha" data-action="password-forgotten" name="g-recaptcha-response" hidden value=""></input>
{% endblock %}
