{% extends 'base.html.twig' %}

{% block title %}Forgot your password?{% endblock %}
{% form_theme emailForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div>
    <h1>Enter your email address</h1>
    <p>You will receive an email to reset your password.</p>
    {{ form_start(emailForm) }}
    {{ form_widget(emailForm) }}
    {{ form_end(emailForm) }}
</div>
{% endblock %}
