{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <h3 class="my-3">Register</h3>
    
    {{ form_start(form, {
        'attr': {'class': 'register-form'}
    }) }}
    {{ form_widget(form) }}
        <input id="g-recaptcha" data-action="register" name="g-recaptcha-response" hidden value=""></input>
    {{ form_end(form) }}
</div>
{% endblock %}
