{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h3 class="my-3 text-secondary">List of pokemon trainers</h3>

    <table class="table">
        <thead>
            <tr class="table-primary">
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Trainer</th>
                <th class="text-center" scope="col">Pokemons</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}

                <tr class="amountPokedollars">
                    <td class="text-center align-middle" scope="row"><strong>{{ loop.index }}</strong></td>
                    <td class="text-center align-middle"><a href="{{ path('trainer_show', {id:user.id}) }}">{{ user.username }}</a></td>
                    <td class="text-center align-middle">{{  user.pokemons|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <input id="g-recaptcha" data-action="trainer_list" name="g-recaptcha-response" hidden value=""></input>
{% endblock %}
