.navbar .btn-primary {
    border: #5cb85c 1px solid;
    color: white !important
}
.navbar .btn-secondary {
    border: #5cb85c 1px solid;
    color: white !important
}
.navbar .btn-warning {
    border: #5cb85c 1px solid;
    color: black !important
}
.navbar .btn-info {
    border: #5cb85c 1px solid;
    color: white !important
}
.navbar .btn-danger {
    border: #5cb85c 1px solid;
    color: white !important
}
.navbar .btn-success {
    border: #5cb85c 1px solid;
    color: white !important
}
.navbar .btn-dark {
    border: #5cb85c 1px solid;
    color: white !important
}
.navbar .active .btn {
    color:rgb(141, 252, 146) !important
}

.grecaptcha-badge { visibility: hidden; }