{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-sm-10">
        <h1 class="mb-5">Welcome to the tournament!</h1>

        <p>You need at least 3 pokemons in shape to participate at the tournament.</p>
        <p>
            This is a battle between 2 trainers with <span class="text-success font-weight-bold">3 pokemons</span> each.<br><br>
            You're also allowed to use <span class="text-success font-weight-bold">3 health potions</span> maximum during a battle.<br>
            So don't forget to bring some with you!
        </p>
        <p>Win 3 battles in a row to earn <span class="text-warning font-weight-bold">900$!</span></p>
    </div>
</div>
{% endblock %}
