{% extends 'base.html.twig' %}

{% block title %}Error 400 - Bad Request{% endblock %}

{% block body %}
    <div>
        <h1 class="my-3">Error 400 - Bad Request</h1>
        <hr>
        <div>Error 400 - Bad Request</div>
    </div>
{% endblock %}
