{% extends 'base.html.twig' %}

{% block title %}Error 403 - Forbidden{% endblock %}

{% block body %}
    <div>
        <h1 class="my-3">Error 403 - Forbidden</h1>
        <hr>
        <div>Error 403 - Forbidden</div>
    </div>
{% endblock %}
