{% extends 'mail_base.html.twig' %}

{% block title %}Activate your account{% endblock %}

{% block body %}
    <h3>Hello {{username}},</h3>

    <p>
        Congrats for your registration, you need to click on this link below to activate your account:<br/>
        <a href='{{ url('app_email_confirm', {'token': token}) }}'>Activate your account</a><br/>
        <br/>
        Or copy this link in your browser:<br/>
        {{ url('app_email_confirm', {'token': token}) }}
    </p>
{% endblock %}