{% extends 'mailBase.html.twig' %}

{% block title %}Activate your account{% endblock %}

{% block body %}
    <h1>Hello {{username}},</h1>

    <p>Congrats for your registration, you need to click on this link below to activate your account :</p>
    <a href='#'>https://linkactivated.fr</a>
{% endblock %}