{% extends 'mail_base.html.twig' %}

{% block title %}Reset your Passwordt{% endblock %}

{% block body %}
    <h3>Hello {{username}},</h3>

    <p>
        To reset your password, click the link below:<br/>
        <a href='{{ url('app_password_reset', {'token': token}) }}'>Reset your password</a><br/>
        <br/>
        Or copy this link in your browser:<br/>
        {{ url('app_password_reset', {'token': token}) }}
    </p>
    <p>You have 24 hours to reset your password before expiration. Afterwards, you must make a new request.</p>
    <p>If you didn't make this request, you should check your security and change your password.</p>
{% endblock %}